$base-color: black;
$header-color: white;
body{
    color:white
}
.test{
    background-color:aquamarine;
}
.sampleProject{
    background-color: blue;
}
.projectFeed{
    background-color: orange;
}
.App{
    background-color: $base-color;
}
#currentMentees{
    background-color: $base-color;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;

}